<phpunit
    bootstrap="./tests/bootstrap.php"
    colors="true">

    <testsuite name="Test case testing">
        <directory>./tests/</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix="Test.php">.</directory>
        </whitelist>
    </filter>

    <!--
    <logging>
        <log type="coverage-html" target="./var/logs/report" charset="UTF-8"
                   yui="true" highlight="true"
                   lowUpperBound="50" highLowerBound="75"/>
        <log type="testdox-html" target="./var/logs/testdox.html" />
    </logging>
    -->

</phpunit>
